<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    
    <div class="container">
        <h1 class="banner">People Delete page</h1>
        
        <div class="section editor">
            <label for="pid">Pid
                <input name='pid' id="pid" type="text" />
            </label>
                <button id="delete">delete</button>
        </div>
        <div class="people">
            <table>
                <caption>People</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>pType</th>
                        <th>Age</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
               
                    <tr>
                        <td>{{data.pid}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.ptype}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.desc}}</td>
                        <td>{{data.date}}</td>
                    </tr>
                </thead>
            </table>
            <a href="/">home page</a>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="/static/js/home.js"></script>
</html>