<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    
    <div class="container">
        <h1 class="banner">People Demo Application</h1>
        
        <div class="section editor">
            <form action="/add" method="POST" >
            <label for="pid">PId
                <input name='pid' id="pid" type="text" required/>
            </label>
            <label for="name">Name
                    <input  name='name' id="name" type="text" required minlength="3" maxlength="30"/>
                </label>
                <br />
                <label for="ptype">Ptype
                    <input name='ptype' id="ptype" type="text" required />
                </label>
                <label for="age">Age
                    <input name='age' id="age" type="number" required max="75" min="10"/>
                </label>
                <br />
                <label for="desc">Description
                    <input  name='desc' id="desc" type="text" required />
                </label>
            <br />
                <label for="checked">Checked
                    <input name="checked" id="checked" type="checkbox" required/>
                </label>
                <button type="submit">Create</button>
                <button id="reset">Reset</button>
                <a href="/ui">API</a>
                </form>
        </div>
        <div class="people">
            <table>
                <caption>People</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>pType</th>
                        <th>Age</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Check</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <a href="/report/pdf">Generate Pdf Report</a>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="/static/js/home.js"></script>
</html>